# HP Inc. Coding Test
### Instructions
1. Duration of the test: 30 Minutes
2. Provide a generalised solution to the problem. Means, your code should also work with new dataset
3. You can answer the questions in any order of your choice

#### Question 1: 
* Load the dataset 'dataset_01.csv'
* Consider last duplicate record as unique and delete remaining records
* Create a new column 'Result' having product of length of country name and it's sales, and print the data frame
* Data and expected output are displayed below

dataset_01:
   Representative    Country    Capital  Sales(B)
0          Abdul      India  New Delhi        10
1          Tania      India  New Delhi        10
2          Abdul  Australia   Canberra         5
3          Tania  Australia   Canberra         5
4          Abdul      China    Beijing        15
5          Abdul     Russia     Moscow         9

Expected output:
   Representative    Country    Capital  Sales(B)  Result
1          Tania      India  New Delhi        10      50
3          Tania  Australia   Canberra         5      45
4          Abdul      China    Beijing        15      75
5          Abdul     Russia     Moscow         9      54

#### Question 2:
* Load the dataset 'dataset_02.csv'
* Replace day numbers with day names assuming Sunday = 0, Monday = 1, etc.
* Calculate range of bread and butter quantities sold for each day number (range = max value - min value)
* Sort the result based on Bread quantity range (descending) and Butter quantity range (ascending) and print the data frame
* Also, print the Butter quantity range of the day having lowest Bread quantity range
* Data and expected outputs are displayed below

dataset_02:
         City  Day  Bread  Butter
0  Hyderabad    1     15       5
1  Hyderabad    2     15       6
2  Hyderabad    3     18       6
3  Hyderabad    4     20       7
4  Hyderabad    5     10       5


Expected Output 1:

          Day  Bread  Butter
0   Saturday     11       4
1   Thursday     10       5
2     Sunday     10       6
3  Wednesday      9       5
4     Monday      8       5
5    Tuesday      8       5
6     Friday      6       5


Expected Output 2:
 5

#### Question 3:
* Load the dataset 'dataset_03.xlsx'
* Convert the data frame from long to wide format and print the result
* Sample data and expected output are displayed below

dataset_03:
         City        Day  Accidents
0  Hyderabad     Monday         15
1  Hyderabad    Tuesday         15
2  Hyderabad  Wednesday         18
3  Hyderabad   Thursday         20
4  Hyderabad     Friday         10


Expected Output:

            Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
City
Bangalore      13      18        28      23        23       18         21
Hyderabad      10      15        25      20        20       15         18