In [79]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("./data/brics.csv", index_col = 0)

In [11]:
print(df)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
SA  South Africa   Pretoria   1.221       52.98

In [20]:
df.loc[:,['country']]

         country
BR        Brazil
RU        Russia
RU        Russia
IN         India
CH         China
SA  South Africa
SA  South Africa

In [23]:
var_text = "I Love Data Science"
var_text.index("Data")
var_text[var_text.index("Data"):]

'Data Science'

In [38]:
# List - mutable, ordered and allows duplicates
fruits = ['apple', 'banana']
fruits.append('orange')
print(fruits)
print(fruits.count('orange'))
fruits.extend(['pineapple', 'strawberry'])
print(fruits)
fruits.reverse()
print(fruits)
fruits.sort()
print(fruits)
fruits.sort(reverse = True)
print(fruits)

['apple', 'banana', 'orange']
1
['apple', 'banana', 'orange', 'pineapple', 'strawberry']
['strawberry', 'pineapple', 'orange', 'banana', 'apple']
['apple', 'banana', 'orange', 'pineapple', 'strawberry']
['strawberry', 'pineapple', 'orange', 'banana', 'apple']

In [42]:
a = 5; b = 5
if (a < b):
    print("a is small")
elif (b < a):
    print("b is small")
else:
    print("a and b are equal")

a and b are equal

In [46]:
var_text = 'hello super hero'
print(var_text[::-1])

oreh repus olleh

In [52]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [54]:
def func_hello(name):
    print('Hello ' + name)

func_hello("Ravi")

Hello Ravi

In [73]:
func_multiplier = lambda i, j: i * j

func_multiplier(2, 5)

10

In [77]:
print(1 in [1, 2, 3])

True

In [83]:
var_list = [1, 2, 3, 4, 5]
print(list(map(lambda x:x*2, var_list)))

print(np.array(var_list) * 2)

[2, 4, 6, 8, 10]
[ 2  4  6  8 10]
True

In [85]:
var_list = [1, 2, 3, 4, 5]

print(list(filter(lambda x:x%2 != 0, var_list)))

[1, 3, 5]

In [99]:
prime_list = [1]

for i in range(2, 100):
    var_sum = 0
    for j in range(2, i+1):
        if(i%j == 0):
            var_sum += 1
    if(var_sum == 1):
        prime_list.append(i)
print(prime_list)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [104]:
df.loc[['IN','CH'],['country','capital']]

   country    capital
IN   India  New Delhi
CH   China    Beijing