In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [1]:
### Question 01
ds_01 = pd.read_csv("dataset_01.csv")
print("Input:", '\n', ds_01, end='\n\n')

ds_01['Max_Sales'] = ds_01.iloc[:,[2, 3]].max(axis=1)
print("Expected output:", '\n', ds_01)

ds_01.to_csv('output_01.csv', index = False)

NameError: name 'pd' is not defined

In [4]:
### Question 02
ds_02 = pd.read_csv("dataset_02.csv", sep='\t')
print("Input:", '\n', ds_02, end='\n\n')

ds_02 = pd.DataFrame(ds_02.groupby('Company').max()[['Sales_1', 'Sales_2']].max(axis=1)).reset_index()
ds_02.columns = ['Company', "Max_Sales"]
print("Expected output:", '\n', ds_02)

ds_02.to_csv('output_02.csv', index = False)

Input:
        Date Company  Sales_1  Sales_2
0  1/1/2020       A      250      300
1  1/2/2020       A      150      100
2  1/1/2020       B      350      270
3  1/2/2020       B      500      600

Expected output:
   Company  Max_Sales
0       A        300
1       B        600

In [5]:
### Question 03
ds_03 = pd.read_csv("dataset_03.csv", sep='\t')
print("Input:", '\n', ds_03, end='\n\n')

ds_03['Username'] = ds_03['URL'].map(lambda x: x[::-1][0:x[::-1].index('/')][::-1].capitalize())
print("Expected output:", '\n', ds_03)

ds_03.to_csv('output_03.csv', index = False)

Input:
                                          URL
0           https://www.linkedin.com/prakash
1          https://www.facebook.com/in/arjun
2     https://www.myportal.in/home/asp/ahmed
3  https://in.newportal.com/home/dep/d1/john

Expected output:
                                          URL Username
0           https://www.linkedin.com/prakash  Prakash
1          https://www.facebook.com/in/arjun    Arjun
2     https://www.myportal.in/home/asp/ahmed    Ahmed
3  https://in.newportal.com/home/dep/d1/john     John

In [6]:
### Question 04
ds_04 = pd.read_csv("dataset_04.csv")
print("Input:",'\n',ds_04, end='\n\n')

ds_04.drop_duplicates(subset=['Country', 'Capital'], keep='last', inplace = True)
ds_04['Result'] = ds_04['Country'].apply(len) * ds_04['Sales(B)']
print("Expected output:", '\n', ds_04)

ds_04.to_csv('output_04.csv', index=False)

Input:
   Representative    Country    Capital  Sales(B)
0          Abdul      India  New Delhi        10
1          Tania      India  New Delhi        10
2          Abdul  Australia   Canberra         5
3          Tania  Australia   Canberra         5
4          Abdul      China    Beijing        15
5          Abdul     Russia     Moscow         9

Expected output:
   Representative    Country    Capital  Sales(B)  Result
1          Tania      India  New Delhi        10      50
3          Tania  Australia   Canberra         5      45
4          Abdul      China    Beijing        15      75
5          Abdul     Russia     Moscow         9      54

In [7]:
### Question 05
ds_05 = pd.read_csv('dataset_05.csv', parse_dates=['Start_Date', 'End_Date'])
print('Input:', '\n', ds_05, '\n\n')

ds_05['Days'] = (ds_05['End_Date'] - ds_05['Start_Date']).dt.days
print("Expected output:", '\n', ds_05)

ds_05.to_csv('output_05.csv', index = False)

Input:
   Start_Date   End_Date        SKU   Account
0 2020-01-26 2020-02-01    OJ 5260    Amazon
1 2020-01-20 2020-02-01  LJP M404n  Best Buy


Expected output:
   Start_Date   End_Date        SKU   Account  Days
0 2020-01-26 2020-02-01    OJ 5260    Amazon     6
1 2020-01-20 2020-02-01  LJP M404n  Best Buy    12

In [8]:
### Question 06
dates = ['2020-01-30', '2020-01-27', '2020-01-26', '2020-01-29', '2020-01-31', '2020-01-28', '2020-02-01']

ds_06 = pd.read_csv('dataset_06.csv', sep='\t')
print('Input:', '\n', ds_06, '\n\n')

ds_06 = pd.DataFrame(ds_06.values.repeat(len(dates), axis = 0), columns=ds_06.columns)
ds_06['Order_Date'] = dates * ds_06.drop_duplicates(keep = 'first').shape[0]
ds_06.sort_values(by=['Account', 'SKU', 'Order_Date'], inplace = True)
print('Expected Output:', '\n', ds_06.reset_index(drop = True))

ds_06.to_csv('output_06.csv', index = False)

Input:
          SKU  Account  Sales
0    OJ 5260   Amazon     10
1  LJP M404n  Walmart     20


Expected Output:
           SKU  Account Sales  Order_Date
0     OJ 5260   Amazon    10  2020-01-26
1     OJ 5260   Amazon    10  2020-01-27
2     OJ 5260   Amazon    10  2020-01-28
3     OJ 5260   Amazon    10  2020-01-29
4     OJ 5260   Amazon    10  2020-01-30
5     OJ 5260   Amazon    10  2020-01-31
6     OJ 5260   Amazon    10  2020-02-01
7   LJP M404n  Walmart    20  2020-01-26
8   LJP M404n  Walmart    20  2020-01-27
9   LJP M404n  Walmart    20  2020-01-28
10  LJP M404n  Walmart    20  2020-01-29
11  LJP M404n  Walmart    20  2020-01-30
12  LJP M404n  Walmart    20  2020-01-31
13  LJP M404n  Walmart    20  2020-02-01

In [68]:
### Question 07
asia_countries = pd.read_excel('dataset_07.xlsx', sheet_name = 'Asia_Countries')
asia_capitals = pd.read_excel('dataset_07.xlsx', sheet_name = 'Asia_Capitals')
europe_countries = pd.read_excel('dataset_07.xlsx', sheet_name = 'Europe_Countries')
europe_capitals = pd.read_excel('dataset_07.xlsx', sheet_name = 'Europe_Capitals')

asia = pd.merge(asia_countries, asia_capitals)

europe = pd.merge(europe_countries, europe_capitals)

ds_07 = pd.concat([asia, europe]).reset_index(drop = True)

print('Expected Output:', '\n', ds_07)

ds_07.to_csv('output_07.csv', index=False)

Expected Output:
   Country_Code         Country    Capital
0          SIN       Singapore  Singapore
1          IND           India  New Delhi
2          CHN           China    Beijing
3          JPN           Japan      Tokyo
4          IRN            Iran     Tehran
5          ITL           Italy       Rome
6           UK  United Kingdom     London
7          NTH     Netherlands  The Hague
8          GER         Germany     Berlin
9          FRA          France      Paris

In [49]:
### Question 08
ds_08 = pd.read_csv('dataset_08.csv', parse_dates=['Date'])
print('Input:','\n', ds_08.head(), '\n\n')

ds_08 = pd.melt(ds_08, id_vars = ['Date', 'Day'], var_name='Cases_Deaths', value_name='Cases_Deaths_Count')
ds_08['Country'] = ds_08['Cases_Deaths'].str.split("_").map(lambda x:x[1])
ds_08['Cases_Deaths'] = ds_08['Cases_Deaths'].str.split("_").map(lambda x:x[0])
ds_08 = ds_08.groupby(['Country', 'Cases_Deaths'])['Cases_Deaths_Count'].sum()
ds_08 = ds_08.reset_index()
print('Expected Output:', '\n', ds_08)

ds_08.to_csv('output_08.csv', index=False)

Input:
         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

   Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
0            NaN            NaN                 NaN          NaN         NaN
1            NaN            NaN                 NaN          NaN         NaN
2            NaN            NaN                 NaN          NaN         NaN
3            NaN            NaN                 NaN          NaN         NaN
4            NaN            NaN                 NaN          NaN         NaN

   Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
0         1786.0             NaN              2977.0             NaN
1         1781.0             NaN              2943.0             NaN
2         1767.0          3496.0              2915.0             NaN
3            NaN          3496.0                 NaN             NaN
4         1739.0          3471.0              2827.0             NaN

   Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
0             NaN                  NaN           NaN          NaN
1             NaN                  NaN           NaN          NaN
2             NaN                  NaN           NaN          NaN
3             NaN                  NaN           NaN          NaN
4             NaN                  NaN           NaN          NaN


Expected Output:
          Country Cases_Deaths  Cases_Deaths_Count
0         Guinea        Cases             84729.0
1         Guinea       Deaths             51818.0
2        Liberia        Cases            193833.0
3        Liberia       Deaths             89198.0
4           Mali        Cases                42.0
5           Mali       Deaths                38.0
6        Nigeria        Cases               636.0
7        Nigeria       Deaths               233.0
8        Senegal        Cases                27.0
9        Senegal       Deaths                 0.0
10   SierraLeone        Cases            211181.0
11   SierraLeone       Deaths             60352.0
12         Spain        Cases                16.0
13         Spain       Deaths                 3.0
14  UnitedStates        Cases                59.0
15  UnitedStates       Deaths                15.0

In [67]:
### Question 09
ds_09 = pd.read_csv('dataset_09.csv')
print('Input:', '\n', ds_09.head(), '\n\n')

ds_09 = pd.pivot_table(ds_09, index=['Country', 'Continent'], columns='Cases_Deaths', values='Cases_Deaths_Count', aggfunc=sum)
ds_09 = ds_09.reset_index()
ds_09.columns.name = ''
print('Expected Output 1:', '\n', ds_09, '\n\n')

ds_09 = ds_09.groupby('Continent')['Cases', 'Deaths'].agg({'Cases':'sum', 'Deaths':'mean'})
print('Expected Output 2:', '\n', ds_09)

ds_09.to_csv('output_09.csv')

Input:
   Country Continent Cases_Deaths  Cases_Deaths_Count
0  Guinea    Africa        Cases              2776.0
1  Guinea    Africa        Cases              2775.0
2  Guinea    Africa        Cases              2769.0
3  Guinea    Africa        Cases                 NaN
4  Guinea    Africa        Cases              2730.0


Expected Output 1:
         Country Continent     Cases   Deaths
0        Guinea    Africa   84729.0  51818.0
1       Liberia    Africa  193833.0  89198.0
2          Mali    Africa      42.0     38.0
3       Nigeria    Africa     636.0    233.0
4       Senegal    Africa      27.0      0.0
5   SierraLeone    Africa  211181.0  60352.0
6         Spain    Europe      16.0      3.0
7  UnitedStates        US      59.0     15.0


Expected Output 2:
               Cases   Deaths
Continent
Africa     490448.0  33606.5
Europe         16.0      3.0
US             59.0     15.0

In [82]:
### Question 10
ds_10 = pd.read_csv('dataset_10.csv')
print('Input:', '\n', ds_10.head(), '\n\n')

ds_10['Day'].replace({0:'Sunday', 1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday'}, inplace=True)
ds_10 = ds_10.groupby('Day')[['Bread', 'Butter']].agg(lambda x:x.max()-x.min())
ds_10.reset_index(inplace = True)
print('Expected Output:', '\n', ds_10)

ds_10.to_csv('output_10.csv', index = False)

Input:
         City  Day  Bread  Butter
0  Hyderabad    1     15       5
1  Hyderabad    2     15       6
2  Hyderabad    3     18       6
3  Hyderabad    4     20       7
4  Hyderabad    5     10       5


Expected Output:
          Day  Bread  Butter
0     Friday      6       5
1     Monday      8       5
2   Saturday     11       4
3     Sunday     10       6
4   Thursday     10       5
5    Tuesday      8       5
6  Wednesday      9       5

In [103]:
### Question 11
ds_11 = pd.read_csv('dataset_11.csv')
print('Input:', '\n', ds_11, '\n\n')

#Impute NaN with minimum wickets of the team
ds_11['Wickets'].fillna(ds_11.groupby('Team')['Wickets'].transform(min), inplace = True)

#For each player, calculate the points
#Points = Runs / ( sum(Runs * Wickets) group by country )
ds_11['Points'] = ds_11.groupby('Team', group_keys=False).apply(lambda g:g.Runs/(g.Runs*g.Wickets).sum())
print('Expected Output:', '\n', ds_11, '\n\n')
ds_11.to_csv('output_11.csv', index = False)

#Print Player with highest points
print("Man of the match: ", ds_11['Player'][ds_11['Points'].idxmax()])

Input:
         Team  Player  Runs  Wickets
0      India   Rohit    50      2.0
1      India   Kohli    50      NaN
2      India  Sachin    70      4.0
3  Australia  Warner    40      3.0
4  Australia   Smith    60      5.0
5  Australia  Heyden    50      NaN


Expected Output:
         Team  Player  Runs  Wickets    Points
0      India   Rohit    50      2.0  0.104167
1      India   Kohli    50      2.0  0.104167
2      India  Sachin    70      4.0  0.145833
3  Australia  Warner    40      3.0  0.070175
4  Australia   Smith    60      5.0  0.105263
5  Australia  Heyden    50      3.0  0.087719


Man of the match:  Sachin