# HP Inc. Coding Test
### Instructions
1. Duration of the test: 30 Minutes
2. Provide a generalised solution to the problem. Means, your code should also work with new dataset
3. You can answer the questions in any order of your choice

#### Question 1: 
* Load the dataset 'dataset_01.csv'
* Fill NULL values with 0
* Create a column 'Tota_Score' (Verbal_Score + Quant_Score) and print the data frame
* Calculate minimum Verbal_Score, maximum Quant_Score and average total score for each Country
* Print the data frame
* Sample Data and expected outputs are provided below

dataset_01:
   Country Candidate  Verbal_Score  Quant_Score
0     USA    Robert         160.0        155.0
1     USA      Hugh         162.0        160.0
2     USA   Marcela           NaN        158.0
3     USA     Julia         159.0        160.0
4     USA  Jennifer         164.0        165.0


Expected Output 1:
   Country Candidate  Verbal_Score  Quant_Score  Total_Score
0     USA    Robert         160.0        155.0        315.0
1     USA      Hugh         162.0        160.0        322.0
2     USA   Marcela           0.0        158.0        158.0
3     USA     Julia         159.0        160.0        319.0
4     USA  Jennifer         164.0        165.0        329.0


Expected Output 2:
          Verbal_Score  Quant_Score  Total_Score
Country
CANADA          155.0        162.0   277.250000
INDIA             0.0        169.0   293.571429
USA               0.0        165.0   288.600000

#### Question 2:
* Given a list of numbers, calculate and print the sum of even numbers and odd numbers WITHOUT using FOR LOOP
* Data and expected output are displayed below

Input: 11, 6, 13, 27, 5, 18
Sum of even numbers: 24
Sum of odd numbers: 56

#### Question 3:
* Load the dataset 'dataset_03.xlsx'
* Write code to get output matching 'Expected Output' shown below

Input:
   Country Continent Cases_Deaths  Cases_Deaths_Count
0  Guinea    Africa        Cases              2776.0
1  Guinea    Africa        Cases              2775.0
2  Guinea    Africa        Cases              2769.0
3  Guinea    Africa        Cases                 NaN
4  Guinea    Africa        Cases              2730.0


Expected Output:
         Country Continent     Cases   Deaths
0        Guinea    Africa   84729.0  51818.0
1       Liberia    Africa  193833.0  89198.0
2          Mali    Africa      42.0     38.0
3       Nigeria    Africa     636.0    233.0
4       Senegal    Africa      27.0      0.0
5   SierraLeone    Africa  211181.0  60352.0
6         Spain    Europe      16.0      3.0
7  UnitedStates        US      59.0     15.0