# HP Inc. Coding Test
### Instructions
1. Duration of the test: 30 Minutes
2. Provide a generalised solution to the problem. Means, your code should also work with new dataset
3. You can answer the questions in any order of your choice

#### Question 1: 
* Load the dataset 'dataset_01.csv'
* Create a new column 'price_in_crores' (price_in_crores = (cyl x disp x hp) / 100000)
* Delete all columns from data frame except 'car' and 'price_in_crores'. Print first 6 rows of result
* Identify and print top 5 costliest brands along with the value of their costliest car in descending order (brand = first word of car name)
* Data and expected outputs are provided below

dataset_01: (first 5 records)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

Expected Output 1:
                  car  price_in_crores
0          Mazda RX4              1.1
1      Mazda RX4 Wag              1.1
2         Datsun 710              0.4
3     Hornet 4 Drive              1.7
4  Hornet Sportabout              5.0


Expected Output 2:
           price_in_crores
brand
Chrysler              8.1
Maserati              8.1
Lincoln               7.9
Cadillac              7.7
Ford                  7.4

#### Question 2:
* Load the dataset 'dataset_02.csv'
* Convert 'Cases_Deaths' column into two columns Cases and Deaths (use sum for aggregation) and print results
* Sample data and expected output are displayed below

dataset_02: (head)
   Country Continent Cases_Deaths  Cases_Deaths_Count
0  Guinea    Africa        Cases              2776.0
1  Guinea    Africa        Cases              2775.0
2  Guinea    Africa        Cases              2769.0
3  Guinea    Africa        Cases                 NaN
4  Guinea    Africa        Cases              2730.0


Expected Output:
         Country Continent     Cases   Deaths
0        Guinea    Africa   84729.0  51818.0
1       Liberia    Africa  193833.0  89198.0
2          Mali    Africa      42.0     38.0
3       Nigeria    Africa     636.0    233.0
4       Senegal    Africa      27.0      0.0
5   SierraLeone    Africa  211181.0  60352.0
6         Spain    Europe      16.0      3.0
7  UnitedStates        US      59.0     15.0

#### Question 3:
* Load the dataset 'dataset_03.xlsx'
* Calculate new column 'Max_Sales' having maximum of Sale_1 and Sales_2 in each observation
* Data and expected output are displayed below

dataset_03:
        Date Company  Sales_1  Sales_2
0  1/1/2020       A      250      300
1  1/2/2020       A      150      100
2  1/3/2020       A      350      270
3  1/4/2020       A      500      600

Expected output:
        Date Company  Sales_1  Sales_2  Max_Sales
0  1/1/2020       A      250      300        300
1  1/2/2020       A      150      100        150
2  1/3/2020       A      350      270        350
3  1/4/2020       A      500      600        600