# HP Inc. Coding Test
### Instructions
1. Duration of the test: 30 Minutes
2. Provide a generalised solution to the problem. Means, your code should also work with new dataset
3. You can answer the questions in any order of your choice

#### Question 1: 
* Load the dataset 'dataset_01.csv'
* Replace NULLs in 'Wickets' column with wickets taken by the lowest wicket taker of the team
* Calculate 'Points' of each player, Points = Runs / ( sum(Runs * Wickets) group by country ) and print data frame
* Identify and print the name of 'Man of the match' (Player with highest points)
* Data and expected outputs are provided below

dataset_01:
         Team  Player  Runs  Wickets
0      India   Rohit    50      2.0
1      India   Kohli    50      NaN
2      India  Sachin    70      4.0
3  Australia  Warner    40      3.0
4  Australia   Smith    60      5.0
5  Australia  Heyden    50      NaN


Expected Output 1:
         Team  Player  Runs  Wickets    Points
0      India   Rohit    50      2.0  0.104167
1      India   Kohli    50      2.0  0.104167
2      India  Sachin    70      4.0  0.145833
3  Australia  Warner    40      3.0  0.070175
4  Australia   Smith    60      5.0  0.105263
5  Australia  Heyden    50      3.0  0.087719


Expected Output 2:
Man of the match:  Sachin

#### Question 2:
* Load the dataset 'dataset_02.csv'
* Based on the last character of each state's name, calculate average accidents
* Data and expected output are provided below

dataset_02:
             State  Accidents
0       Karnataka         25
1       Telangana         20
2   Uttar Pradesh         30
3     West Bengal         27
4          Punjab         10
5  Andhra Pradesh         15
6        Gujarath         12


Expected Output:
        Accidents
State
A           22.5
B           10.0
H           19.0
L           27.0

#### Question 3:
* Load the dataset 'dataset_03.xlsx'
* It contains 4 sheets 'Asia_Countries', 'Asia_Capitals', 'Europe_Countries' and 'Europe_Capitals'
* Data in each sheet are displayed below
* Understand the relationship among 4 sources and write code to get 'Expected Output' shown below.

Sheet Name: Asia_Countries
   Country_Code    Country
0          SIN  Singapore
1          IND      India
2          CHN      China
3          JPN      Japan
4          IRN       Iran


Sheet Name: Asia_Capitals
   Country_Code    Capital
0          SIN  Singapore
1          IND  New Delhi
2          CHN    Beijing
3          JPN      Tokyo
4          IRN     Tehran


Sheet Name: Europe_Countries
   Country_Code         Country
0          ITL           Italy
1           UK  United Kingdom
2          NTH     Netherlands
3          GER         Germany
4          FRA          France


Sheet Name: Europe_Capitals
   Country_Code    Capital
0          ITL       Rome
1           UK     London
2          NTH  The Hague
3          GER     Berlin
4          FRA      Paris


Expected Output:
   Country_Code         Country    Capital
0          SIN       Singapore  Singapore
1          IND           India  New Delhi
2          CHN           China    Beijing
3          JPN           Japan      Tokyo
4          IRN            Iran     Tehran
5          ITL           Italy       Rome
6           UK  United Kingdom     London
7          NTH     Netherlands  The Hague
8          GER         Germany     Berlin
9          FRA          France      Paris