# HP Inc. Coding Test
### Instructions
1. Duration of the test: 30 Minutes
2. Provide a generalised solution to the problem. Means, your code should also work with new dataset
3. You can answer the questions in any order of your choice

#### Question 1: 
* Load the dataset 'dataset_01.csv'
* Delete records having NULL in 'Company' column
* Replace NULLs in 'Sales_2' column with average of all the values in it
* Create a new column 'Max_Sales' and it should contain maximum of 'Sale_1' and 'Sale_2'
* Data and expected output are provided below

dataset_01:
        Date Company  Sales_1  Sales_2
0  1/1/2020       A      250    300.0
1  1/2/2020       A      150      NaN
2  1/4/2020       A      500    600.0
3  1/3/2020       A      350    270.0
4  1/4/2020       A      500    600.0
5  1/2/2020     NaN      250    300.0

Expected output:
        Date Company  Sales_1  Sales_2  Max_Sales
0  1/1/2020       A      250    300.0      300.0
1  1/2/2020       A      150    350.0      350.0
2  1/4/2020       A      500    600.0      600.0
3  1/3/2020       A      350    270.0      350.0
4  1/4/2020       A      500    600.0      600.0

In [1]:
import pandas as pd

In [2]:
ds_01 = pd.read_csv('dataset_01.csv')
ds_01.dropna(subset = ['Company'], inplace = True)
ds_01.fillna(value = ds_01['Sales_2'].mean(), inplace = True)
ds_01['Max_Sales'] = ds_01[['Sales_1', 'Sales_2']].max(axis = 1)
print('Expected output:\n', ds_01)

Expected output:
        Date Company  Sales_1  Sales_2  Max_Sales
0  1/1/2020       A      250    300.0      300.0
1  1/2/2020       A      150    442.5      442.5
2  1/4/2020       A      500    600.0      600.0
3  1/3/2020       A      350    270.0      350.0
4  1/4/2020       A      500    600.0      600.0

#### Question 2:
* Load the dataset 'dataset_02.csv'
* Create a new column 'Username' having usernames (first letter must be capital) extracted from the url provided in 'URL' column
* Data and expected output are provided below

dataset_02:
                                          URL
0           https://www.linkedin.com/prakash
1          https://www.facebook.com/in/arjun
2     https://www.myportal.in/home/asp/ahmed
3  https://in.newportal.com/home/dep/d1/john

Expected output:
                                          URL Username
0           https://www.linkedin.com/prakash  Prakash
1          https://www.facebook.com/in/arjun    Arjun
2     https://www.myportal.in/home/asp/ahmed    Ahmed
3  https://in.newportal.com/home/dep/d1/john     John

In [4]:
ds_02 = pd.read_csv('dataset_02.csv')
ds_02['Username'] = ds_02['URL'].apply(lambda x:x[::-1][:x[::-1].index('/')][::-1].capitalize())
print('Expected output:\n', ds_02)

Expected output:
                                          URL Username
0           https://www.linkedin.com/prakash  Prakash
1          https://www.facebook.com/in/arjun    Arjun
2     https://www.myportal.in/home/asp/ahmed    Ahmed
3  https://in.newportal.com/home/dep/d1/john     John

#### Question 3:
* Load the dataset 'dataset_03.xlsx'
* It contains 4 sheets 'Asia_Countries', 'Asia_Capitals', 'Europe_Countries' and 'Europe_Capitals'
* Data in each sheet and expected output are displayed below

Sheet Name: Asia_Countries
   Country_Code    Country
0          SIN  Singapore
1          IND      India
2          CHN      China
3          JPN      Japan
4          IRN       Iran


Sheet Name: Asia_Capitals
   Country_Code    Capital
0          SIN  Singapore
1          IND  New Delhi
2          CHN    Beijing
3          JPN      Tokyo
4          IRN     Tehran


Sheet Name: Europe_Countries
   Country_Code         Country
0          ITL           Italy
1           UK  United Kingdom
2          NTH     Netherlands
3          GER         Germany
4          FRA          France


Sheet Name: Europe_Capitals
   Country_Code    Capital
0          ITL       Rome
1           UK     London
2          NTH  The Hague
3          GER     Berlin
4          FRA      Paris


Expected Output:
   Country_Code         Country    Capital
0          SIN       Singapore  Singapore
1          IND           India  New Delhi
2          CHN           China    Beijing
3          JPN           Japan      Tokyo
4          IRN            Iran     Tehran
5          ITL           Italy       Rome
6           UK  United Kingdom     London
7          NTH     Netherlands  The Hague
8          GER         Germany     Berlin
9          FRA          France      Paris

In [4]:
Asia_Countries = pd.read_excel('dataset_03.xlsx', sheet_name = 'Asia_Countries')
Asia_Capitals = pd.read_excel('dataset_03.xlsx', sheet_name = 'Asia_Capitals')
Europe_Countries = pd.read_excel('dataset_03.xlsx', sheet_name = 'Europe_Countries')
Europe_Capitals = pd.read_excel('dataset_03.xlsx', sheet_name = 'Europe_Capitals')

Asia = pd.merge(Asia_Countries, Asia_Capitals, how = 'left', on = 'Country_Code')
Europe = pd.merge(Europe_Countries, Europe_Capitals, how = 'left', on = 'Country_Code')

print("Expected Output:\n",pd.concat([Asia, Europe]))

Expected Output:
   Country_Code         Country    Capital
0          SIN       Singapore  Singapore
1          IND           India  New Delhi
2          CHN           China    Beijing
3          JPN           Japan      Tokyo
4          IRN            Iran     Tehran
0          ITL           Italy       Rome
1           UK  United Kingdom     London
2          NTH     Netherlands  The Hague
3          GER         Germany     Berlin
4          FRA          France      Paris