# HP Inc. Coding Test
### Instructions
1. Duration of the test: 30 Minutes
2. Provide a generalised solution to the problem. Means, your code should also work with new dataset
3. You can answer the questions in any order of your choice

#### Question 1: 
* Load the dataset 'dataset_01.csv'
* Print maximum sales for each Company
* Data and expected output are displayed below

Input:
        Date Company  Sales_1  Sales_2
0  1/1/2020       A      250      300
1  1/2/2020       A      150      100
2  1/1/2020       B      350      270
3  1/2/2020       B      500      600

Expected output:
   Company  Max_Sales
0       A        300
1       B        600

In [5]:
import pandas as pd
import datetime as dt

In [4]:
ds_01 = pd.read_csv('dataset_01.csv', parse_dates = ['Date'])
ds_01['Max_Sales'] = ds_01[['Sales_1', 'Sales_2']].max(axis = 1)
ds_01 = ds_01.groupby('Company')['Max_Sales'].max()
ds_01 = ds_01.reset_index()
print("Expected output:\n", ds_01)

Expected output:
   Company  Max_Sales
0       A        300
1       B        600

#### Question 2:
* Load the dataset 'dataset_02.csv'
* Create new column 'Days' having duration (in days) between Start_Date and End_Date and print data frame
* Data and expected output are provided below

Input:
   Start_Date   End_Date        SKU   Account
0 2020-01-26 2020-02-01    OJ 5260    Amazon
1 2020-01-20 2020-02-01  LJP M404n  Best Buy
2 2020-01-25 2020-01-27    OJ 6260    Amazon
3 2020-01-10 2020-01-30    LJE 234   Walmart


Expected output:
   Start_Date   End_Date        SKU   Account  Days
0 2020-01-26 2020-02-01    OJ 5260    Amazon     6
1 2020-01-20 2020-02-01  LJP M404n  Best Buy    12
2 2020-01-25 2020-01-27    OJ 6260    Amazon     2
3 2020-01-10 2020-01-30    LJE 234   Walmart    20

In [9]:
ds_02 = pd.read_csv('dataset_02.csv', parse_dates = ['Start_Date', 'End_Date'])

ds_02['Days'] = ds_02['End_Date'] - ds_02['Start_Date']
ds_02['Days'] = ds_02['Days'].dt.days
print("Expected output:\n",ds_02)

Expected output:
   Start_Date   End_Date        SKU   Account  Days
0 2020-01-26 2020-02-01    OJ 5260    Amazon     6
1 2020-01-20 2020-02-01  LJP M404n  Best Buy    12
2 2020-01-25 2020-01-27    OJ 6260    Amazon     2
3 2020-01-10 2020-01-30    LJE 234   Walmart    20

#### Question 3:
* Load the dataset 'dataset_03.xlsx'
* Remove observations having NULLs in 'Cases_Deaths_Count' column
* Convert data from long format to wide format, calculate total number cases and deaths for each combination of Country and Continent, and print the results
* Also, print sum of 'Cases' and average of 'Deaths' for each 'Continent'
* Sample data and expected outputs are displayed below

Input:
   Country Continent Cases_Deaths  Cases_Deaths_Count
0  Guinea    Africa        Cases              2776.0
1  Guinea    Africa        Cases              2775.0
2  Guinea    Africa        Cases              2769.0
3  Guinea    Africa        Cases                 NaN
4  Guinea    Africa        Cases              2730.0


Expected Output 1:
         Country Continent     Cases   Deaths
0        Guinea    Africa   84729.0  51818.0
1       Liberia    Africa  193833.0  89198.0
2          Mali    Africa      42.0     38.0
3       Nigeria    Africa     636.0    233.0
4       Senegal    Africa      27.0      0.0
5   SierraLeone    Africa  211181.0  60352.0
6         Spain    Europe      16.0      3.0
7  UnitedStates        US      59.0     15.0


Expected Output 2:
               Cases   Deaths
Continent
Africa     490448.0  33606.5
Europe         16.0      3.0
US             59.0     15.0

In [93]:
ds_03 = pd.read_csv('dataset_03.csv')
ds_03.dropna(subset = ['Cases_Deaths_Count'], inplace = True)
ds_03 = pd.pivot_table(data = ds_03, index = ['Country', 'Continent'], columns = ['Cases_Deaths'], values = ['Cases_Deaths_Count'], aggfunc='sum')
ds_03 = ds_03['Cases_Deaths_Count'].reset_index()
ds_03.columns.name = None
print("Expected output 1:\n",ds_03)

ds_03 = ds_03.groupby('Continent').agg({'Cases':'sum','Deaths':'mean'})
print("Expected outptu 2:\n",ds_03)

Expected output 1:
         Country Continent     Cases   Deaths
0        Guinea    Africa   84729.0  51818.0
1       Liberia    Africa  193833.0  89198.0
2          Mali    Africa      42.0     38.0
3       Nigeria    Africa     636.0    233.0
4       Senegal    Africa      27.0      0.0
5   SierraLeone    Africa  211181.0  60352.0
6         Spain    Europe      16.0      3.0
7  UnitedStates        US      59.0     15.0
Expected outptu 2:
               Cases   Deaths
Continent
Africa     490448.0  33606.5
Europe         16.0      3.0
US             59.0     15.0